/.DS_Store
/bootstrap-dashboard-desktop-1.png
/bootstrap-dashboard-desktop-2.png
/bootstrap-dashboard-mobile.png
/bootstrap-dashboard-tablet.png
/bootstrap-dashboard.webm
/screen-con-dimensioni-strane
/screenshots